@{
	ViewData["Title"] = "Blogs";
	Layout = "../Shared/_Layout.cshtml";
}
@model IEnumerable<DoAnFramework.Models.Blog>

<div class="container-heading mb-5 mt-3">
	<div class="row">
		<h1 class="d-flex justify-content-center align-items-center">Blogs</h1>
	</div>
</div>

<div class="main-section-body mb-5 mt-5">
	<!-- BLOG: START -->
	<div class="blog">
		@if (Model != null)
		{
			foreach (var item in Model)
			{
						<div class="blog-content zoom-when--hover">
							<a class="blog-link" asp-controller="Blog" asp-action="BlogDetail" asp-route-id="@item.BlogId">
								<div class="blog-img--container zoom-img--container">

							@if (item.BlogImage != null)
							{
								<img class="blog-img zoom-img" 
								src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(item.BlogImage))" 
								alt="">
							}
								</div>
								<p class="blog-title">@item.BlogTitle</p>
								<p class="preview-content">@item.Content</p>
							</a>
						</div>    
			}
		}
	</div>
	<!-- BLOG: END -->

</div>