<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Navigation</title>

    <link rel="stylesheet" href="../css/base.css">
    <link href="../css/admin-navigation.css" rel="stylesheet">
</head>
<body>
    <div class="nav-admin">
        <a href="#" class="nav-admin-logo">
            <img src="../img/logo.png" alt="logo">
            <h1>LOGO</h1>
        </a>

        <ul class="nav-admin-menu">
            <li><a href="#">Về Cửa Hàng</a></li>
            <li><a href="#">Thống Kê</a></li>
            <li><a href="#">Danh Mục</a></li>
            <li><a href="#" class="active">Sản Phẩm</a></li>
            <li><a href="#">Đơn Hàng</a></li>
            <li><a href="#">Khách Hàng</a></li>
            <li><a href="#">Nhân Viên</a></li>
            <li><a href="#">Blog</a></li>
        </ul>

        <div class="nav-admin-account">
            <a href="#" id="account">
                    <img src="../img/user.png" alt="Your account">
                    <p>Nguyễn Văn A</p>
            </a>
            <a href="#" id="logout">Đăng Xuất</a>
        </div>
    </div>  
      
</body>
</html>