<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/base.css">
    <script
    src="https://kit.fontawesome.com/f7fcb1a9ac.js"crossorigin="anonymous"></script>
  
</head>
<body>
    <!-- inited 10/14 by Linh: button, pagination, search bar, input(textbox) -->
    <!-- Changed: 
        + button: style, add filter btn, add admin-btn:hover
        + delete pagination
        + fix position of input caret that overlap search icon
        Modified 10/14 by Quyen -->

    <!-- button -->
    <button class="btn btn-confirm">Xác nhận</button>
    <button class="btn btn-cancel">Hủy</button>

    <!-- admin button: export, add, filter -->
    <button class="btn-admin btn-export">
        <i class="fa-solid fa-download"></i>Export
    </button>

    <button class="btn-admin btn-add">
        <i class="fa-solid fa-plus"></i>Thêm mới
    </button>

    <button class="btn-admin btn-filter">
        <i class="fa-solid fa-filter"></i>Bộ lọc
    </button>

    <!-- search bar -->
    <div class="search-bar">
        <input type="text" name="" placeholder="Tìm kiếm..." class="search-field">
        <a href="#" class="btn-search"><i class="fa-solid fa-magnifying-glass"></i></a>
    </div>

    <div class="search-bar admin">
        <input type="text" name="" placeholder="Tìm kiếm..." class="search-field">
        <a href="#" class="btn-search"><i class="fa-solid fa-magnifying-glass"></i></a>
    </div>

    <!-- input -->
    <div class="input-field">
        <input type="text" name="" placeholder="" class="input">
    </div>

    <!-- select -->
    <select name="" id="">
        <option value="1">option 1</option>
        <option value="1">option 1</option>
        <option value="1">option 1</option>
    </select>

</body>
</html>
 