<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/pagination.css">
    <title>Pagination</title>
</head>

<body>
    <!-- pagination in store -->
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a class="active" href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <span class="ellipsis">...</span>
        <a href="#">10</a>
        <a href="#">&raquo;</a>
    </div>

    <!-- pagination in admin -->
    <div class="pagination admin">
        <a href="#">&laquo;</a>
        <a class="active" href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <span class="ellipsis">...</span>
        <a href="#">10</a>
        <a href="#">&raquo;</a>
    </div>
</body>

</html>
