<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/style-components/base.css">
    <link rel="stylesheet" href="../css/style-components/table.css">
    <script
      src="https://kit.fontawesome.com/f7fcb1a9ac.js"crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <!-- start: admin table -->
    <div class="admin-table">
        <table>
            <tr>
                <th>#</th>
                <th>Ảnh</th>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th>...</th>
                <th>Thao tác</th>
            </tr>
            <tr>
                <td>1</td>
                <td><div class="table-img"></div></td>
                <td> Giày ... </td>
                <td>10000đ</td>
                <td>...</td>
                <td class="action">
                    <a href="#"><i class="fa-solid fa-pen"></i></a>
                    <a href="#"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td><div class="table-img"></div></td>
                <td> Giày ... </td>
                <td>10000đ</td>
                <td>...</td>
                <td class="action">
                    <a href="#"><i class="fa-solid fa-pen"></i></a>
                    <a href="#"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td><div class="table-img"></div></td>
                <td> Giày ... </td>
                <td>10000đ</td>
                <td>...</td>
                <td class="action">
                    <a href="#"><i class="fa-solid fa-pen"></i></a>
                    <a href="#"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        </table>
    </div>
    <!-- end: admin table -->

    <!-- start: store table -->
    <div class="store-table">
        <table>
            <tr>
                <th>#</th>
                <th class="">Ảnh</th>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th>...</th>
            </tr>
            <tr>
                <td>1</td>
                <td><div class="table-img"></div></td>
                <td> Giày ... </td>
                <td>10000đ</td>
                <td>...</td>
            </tr>
            <tr>
                <td>1</td>
                <td><div class="table-img"></div></td>
                <td> Giày ... </td>
                <td>10000đ</td>
                <td>...</td>
            </tr>
            <tr>
                <td>1</td>
                <td><div class="table-img"></div></td>
                <td> Giày ... </td>
                <td>10000đ</td>
                <td>...</td>
            </tr>
        </table>
    </div>
    <!-- end: store table -->

</body>
</html>