/*general main section*/
body{
    display: flex;
    margin: 0;
}

.nav-container{
    min-width: 240px;
    
}
.admin-orders{
    flex-grow: 2;

    min-width: 400px;
    padding: 30px;
}


.btn-search {
    top: 7px !important;
}

