:root{
    --admin-primary: var(--orange);
}

.admin-order-detail{
    background-color: #fff;
}

h2.section_heading{
    margin-left: 20px;
}

.btn{
    border-radius: 0;
}
span.user-info{
    font-weight: bold;
    padding-left: 15px;
}
