/*Style main section*/
.my-order-feedback {
    padding: 30px 80px;
}

.form-container{
    width: 80%;
    margin: 10px auto;
}

/*star feedback*/
.rating-star {
    display: flex;
    font-size: 20px;
    margin: 15px;
    margin-left: 20px;
}

    .rating-star .stars {
        margin-left: 15px;
    }

        .rating-star .stars input {
            display: none;
        }

.stars label {
    color: #e6e6e6;
    float: right;
    padding: 5px;
    transition: all 0.5s ease;
}

.stars input:not(:checked) ~ label:hover,
.stars input:not(:checked) ~ label:hover ~ label {
    color: #fec984;
    cursor: pointer;
}

.stars input:checked ~ label {
    color: #ff9c1a;
}

textarea{
    height: 200px;
}

.update-order-status button,
.update-order-status a {
    float: right;
    width: 180px;
    margin-right: 10px;
    margin-top: 10px;
}


.review-img{
    height:150px;
    width: 130px;
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: contain;
}

.infor-row{
    display: flex;
    flex-direction: row;
}

p.book-name{
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}

.product-line{
    margin-bottom: 25px;
}

textarea{
    height: 170px;
}