html {
    background-color: #FFFFFF;
}

h2 {
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--orange);
}

.contentBox {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    padding: 0 50px 50px 50px;
}

.contentBox img {
    width: 100px;
    height: 100px;
}

.contentBox__Left {
    font-size: 20px;
    flex: 4;
}

.contentBox__Right {
    border-left: 1px solid #000;
    margin-left: 10px;
    padding: 0 10px;
    flex: 1;
}

.centerBox {
    text-align: center;
    width: 200px;
}

.Related_Questions{
    margin-top: 30px;
    font-size: 18px;
}

.Related_Questions a {
    color: black;
}


a:hover {
    color: var(--orange);
    transition: 0.2s linear;
}

@media (max-width: 800px) {
    .contentBox {
        flex-direction: column;
    }

    svg {
        display: none;
    }

    hr {
        border: 1px solid black;
    }

    .contentBox__Right {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
