@{
    ViewData["Title"] = "Về chúng tôi";
    Layout = "../Shared/_Layout.cshtml";
}

<!-- main section: start -->
<div class="container-heading mb-5" style="background-color: #FDF5F5;">
    <div class="row">
        <h1 class="d-flex justify-content-center align-items-center display-4" style="height: 150px;">About Us</h1>
    </div>
</div>

<div class="container-fluid mb-5" style="height: 450px;">
    <div class="row m-auto" style="width: 95%; height: 100%;">

        <div class="col-md-12 col-lg-6" style="background: url(../img/books.jpg) no-repeat center center/cover;">
        </div>

        <div class="col-md-12 col-lg-6 py-5 m-auto">
            <div class="media-content m-5">
                <h3 class="align-left pb-3 display-6">Phương châm hoạt động</h3>
                <div class="pb-3">
                    <p style="font-size: 20px;">
                        Tận tâm, nhiệt tình, sẵn sàng hỗ trợ nhằm đem tới sự
                        thoải mái, hạnh phúc trên con đường tiếp cận với kho tàng tri thức.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid mb-5" style="height: 450px;">
    <div class="row m-auto" style="width: 95%; height: 100%;">

        <div class="col-md-12 col-lg-6 py-5 m-auto">
            <div class="media-content m-5">
                <h3 class="align-left pb-3 display-6">Giới thiệu cửa hàng</h3>
                <div class="pb-3">
                    <p style="font-size: 20px;">
                        Tận tâm, nhiệt tình, sẵn sàng hỗ trợ nhằm đem tới sự
                        thoải mái, hạnh phúc trên con đường tiếp cận với kho tàng tri thức.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-6" style="background: url(../img/bookstore_2.jpg) no-repeat center center/cover;">
        </div>

    </div>
</div>


  </div>
<!-- main section: end -->