@{
    ViewData["Title"] = "Trợ giúp";
    Layout = "../Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/store/help_page_sytle.css" asp-append-version="true">

<div class="contentBox">
    <h2>HỖ TRỢ</h2>
    <div class="contentBox__Question">
        <div>
            <h3>CÁC CÂU HỎI THƯỜNG GẶP</h3>
            <hr>
        </div>

        <div class="questionBox">
            <div class="centerBox">
                <h4>ĐẶT HÀNG</h4>
                <p><a asp-controller="Home" asp-action="question_page_Huy_don_hang">Hủy đơn đặt hàng</a></p>
                <p><a asp-controller="Home" asp-action="question_page_Phuong_thuc_thanh_toan">Các phương thức thanh toán</a></p>
            </div>
            <div class="centerBox">
                <h4>GIAO HÀNG</h4>
                <p><a asp-controller="Home" asp-action="question_page_Doi_tac_van_chuyen">Đối tác vận chuyển</a></p>
                <p><a asp-controller="Home" asp-action="question_page_Phi_van_chuyen">Phí vận chuyển</a></p>
            </div>
        </div>
    </div>

    <div class="contentBox__Contact">
        <div>
            <h3>LIÊN HỆ</h3>
            <hr>
        </div>

        <div class="contactBox">
            <div class="centerBox">
                <img src="~/img/chat.png" alt="">
                <h4>EMAIL</h4>
                <p>215215xx@gm.uit.edu.vn</p>
            </div>
            <div class="centerBox">
                <img src="~/img/telephone.png" alt="">
                <h4>ĐIỆN THOẠI</h4>
                <p>0913567184</p>
            </div>
            <div class="centerBox">
                <img src="~/img/location.png" alt="">
                <h4>ĐỊA CHỈ</h4>
                <p>Khu phố 6, P.Linh Trung, Tp.Thủ Đức, Tp.Hồ Chí Minh</p>
            </div>
        </div>
    </div>

</div>