@{
    ViewData["Title"] = "Câu hỏi thường gặp";
    Layout = "../Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/store/question_page_style.css">

    <h2>HỖ TRỢ</h2>

    <div class="contentBox">
        <div class="contentBox__Left">
            <div class="Content">
                <h4>PHÍ VẬN CHUYỂN</h4>
                <p>
                <br>Phí vận chuyển và thời gian giao hàng được tính như sau:<br>
                    - Miễn phí vận chuyến với đơn có giá từ 1.200.000 VNĐ trở lên.<br>
                    - Phí vận chuyển là 50.000 VNĐ với đơn dưới 1.000.000 VNĐ.<br>
                    - Thời gian vận chuyển từ 5-7 ngày (từ thứ 2 tới thứ 6 – không tính ngày lễ)..
                </p>
            </div>

            <div class="Related_Questions">
                <p>Các câu hỏi liên quan:</p>
                <ul style="list-style-type:disc">
                    <li><a asp-controller="Home" asp-action="question_page_Huy_don_hang">Hủy đơn đặt hàng.</a></li>
                    <li><a asp-controller="Home" asp-action="question_page_Doi_tac_van_chuyen">Đối tác vận chuyển.</a></li>
                </ul>
            </div>
        </div>


@*     <div class="line">
        <svg height="800px" width="2px">
            <line x1="0" y1="0" x2="0" y2="590" style="stroke:black; stroke-width: 3px;" />
        </svg>

        <hr>
    </div> *@

    <div class="contentBox__Right">
        <div class="centerBox">
            <img src="~/../img/chat.png" alt="">
            <p>EMAIL</p>
            <p>215215xx@gm.uit.edu.vn</p>
        </div>
        <div class="centerBox">
            <img src="~/../img/telephone.png" alt="">
            <p>ĐIỆN THOẠI</p>
            <p>0913567184</p>
        </div>
        <div class="centerBox">
            <img src="~/../img/location.png" alt="">
            <p>ĐỊA CHỈ</p>
            <p>Khu phố 6, P.Linh Trung, Tp.Thủ Đức, Tp.Hồ Chí Minh</p>
        </div>
    </div>
</div>