<!-- Add particular css link to file: start -->
<link rel="stylesheet" href="~/css/style-components/table.css" />
<link rel="stylesheet" href="~/css/store/my-orders.css" />
<link rel="stylesheet" href="~/css/store/my-order-detail.css" />
<link rel="stylesheet" href="~/css/store/my-order-feedback.css" />
<link rel="stylesheet" href="~/css/style-components/pagination.css" asp-append-version="true">
<!-- Add particular css link to file: start -->
<!--MAIN SECTION START-->
<div class="section">
    <!--NAVIGATION START-->
    <div class="navigation-account">
        <ul>
            <li id="title-TaiKhoan">Tài khoản</li>
            <li><a asp-controller="Account" asp-action="Index">Quản lý tài khoản</a></li>
            <li><a asp-controller="Order" asp-action="Index" class="">Đơn hàng của tôi</a></li>
        </ul>
    </div>
    <!--NAVIGATION END-->



    @{
        var currentLocation = Context.Request.Path;
    }

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var currentLocation = '@currentLocation';
            var menuItem = document.querySelectorAll('.navigation-account a');

            menuItem.forEach(function (item) {
                var href = item.getAttribute('href');

                if (href === currentLocation) {
                    item.classList.add('active');
                }

                if (currentLocation.includes("Order") && href.includes("Order")) {
                    item.classList.add('active');
                }

                if (currentLocation.includes("Order") && href.includes("Order")) {
                    item.classList.add('active');
                }
            });
        });
    </script>
