<div class="FooterBox">
    <hr>
    <div class="FooterBox__one">
        <div class="FooterBox__one__left">
            <h3>Về chúng tôi</h3>
            <p><a asp-controller="Home" asp-action="Index">Trang chủ</a></p>
            <p><a asp-controller="Home" asp-action="Index">Cửa hàng</a></p>
            <p><a asp-controller="Home" asp-action="AboutUs">Thông tin</a></p>
            <p><a asp-controller="Home" asp-action="Index">Liên hệ</a></p>
        </div>
        <div class="FooterBox__one__center">
            <h3>Khám phá</h3>
            <p><a asp-controller="Home" asp-action="Questions">Câu hỏi thường gặp</a></p>
            <p><a asp-controller="Home" asp-action="Help">Hỗ trợ</a></p>
            <p><a href="#">Điều khoản</a></p>
            <p><a href="#">Phương thức thanh toán</a></p>
        </div>
        <div class="FooterBox__one__right">
            <h3>Theo dõi</h3>
            <p><a href="#">Facebook <i class="fa-brands fa-square-facebook"></i></a></p>
            <p><a href="#">Instagram <i class="fa-brands fa-instagram"></i></a></p>
        </div>
    </div>
    <div class="FooterBox__two">
        <hr>
        <div class="FooterBox__two__rightpayment">
            <p>2022 ALL RIGHT RESERVE</p>
            <div>
                @* <img src="~/img/footer_image/visa.png" alt="">
                <img src="~/img/footer_image/paypal.png" alt="">
                <img src="~/img/footer_image/mastercard.png" alt="">
                <img src="~/img/footer_image/momo.png" alt="">
                <img src="~/img/footer_image/napas.png" alt=""> *@
            </div>
        </div>
    </div>
</div>