
@{
    ViewData["Title"] = "Mua hàng thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BODY: START -->
<div style="height:60vh;display: flex;flex-direction: column;justify-content: center;">
    <h1 style="text-align: center; font-size: 45px">Đặt hàng thành công!</h1>
    <div class="icon" style="text-align: center">
        <ion-icon name="checkmark-circle-outline"
                  style="font-size: 60px; color: #126b00"></ion-icon>
    </div>
</div>
<!-- BODY: END -->
