@using DoAnFramework.Models.ViewModel;
@{
    ViewData["Title"] = "Quản lý tài khoản";
    Layout = "../Shared/_Layout.cshtml";

}
@model DoAnFramework.Models.ViewModel.ChangePasswordVM

<div class="section">
    @await Html.PartialAsync("../Shared/_AccountNavPartialView.cshtml")
    <div class="list-orders">
        <!--breadscrumb-->
        <ul class="breadcrumb-my-order">
            <li><a asp-controller="Account" asp-action="Index">Quản lý tài khoản</a> / </li>
            <li class="breadcrumb-current-page">Đổi mật khẩu</li>
        </ul>

        <h2 style="text-align:center;">Đổi mật khẩu</h2>
        <br />

        <div class="modal-body" style=" width: 50%; margin: 5px auto;">
            <form method="post" asp-action="ChangePassword" asp-controller="Account">
                <div class="row row-gap-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" asp-for="UserPassword" placeholder="Mật khẩu cũ*" required>
                        <label asp-for="UserPassword">Mật khẩu cũ*</label>
                    </div>

                    <div class="form-floating">
                        <input type="text" class="form-control" asp-for="NewPassword" placeholder="Mật khẩu mới*" required>
                        <label asp-for="NewPassword">Mật khẩu mới*</label>
                    </div>
                    <p class=" text-danger">@ViewBag.Message</p>
                    <div class="btn-container">
                        <button class="btn btn-confirm" type="submit" style="width: 100%;">
                            Lưu thay đổi
                        </button>
                        <button class="btn btn-cancel" type="reset" onclick="window.location.href='@Url.Action("Index", "Account")'" style="width: 100%;">
                            Hủy
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>