@using DoAnFramework.Models.ViewModel;
@{
    ViewData["Title"] = "Quản lý tài khoản";
    Layout = "../Shared/_Layout.cshtml";

}
@model DoAnFramework.Models.ViewModel.EditAddressVM

<div class="section">
    @await Html.PartialAsync("../Shared/_AccountNavPartialView.cshtml")
    <div class="list-orders">
        <!--breadscrumb-->
        <ul class="breadcrumb-my-order">
            <li><a asp-controller="Account" asp-action="Index">Quản lý tài khoản</a> / </li>
            <li class="breadcrumb-current-page">Chỉnh sửa địa chỉ</li>
        </ul>

        <h2 style="text-align:center;" >Chỉnh sửa địa chỉ</h2>
        <br />
        <div class="modal-body" style=" width: 50%; margin: 5px auto;">
            <form method="post" asp-action="EditAddress" asp-controller="Account">
                <div class="row row-gap-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" asp-for="UserName" placeholder=" Họ và tên*" required>
                        <label asp-for="UserName"> Họ và tên*</label>
                    </div>

                    <div class="form-floating">
                        <input type="text" class="form-control" asp-for="PhoneNumber" placeholder=" Số điện thoại*" required pattern="^0[0-9]{9}$">
                        <label asp-for="PhoneNumber"> Số điện thoại*</label>
                    </div>

                    <div class="form-floating">
                        <input type="text" class="form-control" asp-for="Address" placeholder=" Địa chỉ*" required>
                        <label asp-for="Address"> Địa chỉ*</label>
                    </div>

                    <div class="btn-container">
                        <button class="btn btn-confirm" type="submit" style="width: 100%;">Lưu thay đổi</button>
                        <button class="btn btn-cancel" type="reset" onclick="window.location.href='@Url.Action("Index", "Account")'" style="width: 100%;"> Hủy </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>