@using DoAnFramework.Models.ViewModel;
@{
    ViewData["Title"] = "Quản lý tài khoản";
    Layout = "../Shared/_Layout.cshtml";

}
@model DoAnFramework.Models.ViewModel.ProfileUserVM

<div class="section">
    @await Html.PartialAsync("../Shared/_AccountNavPartialView.cshtml")
    <div class="list-orders">
        <!--breadscrumb-->
        <ul class="breadcrumb-my-order">
            <li class="breadcrumb-current-page">Quản lý tài khoản</li> /
        </ul>

        <h2>Chỉnh sửa thông tin</h2>
        <br />
        <div class="modal-body" style=" width: 50%;">
            <form method="post" asp-action="EditProfileUser" asp-controller="Account">
                <div class="row row-gap-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" asp-for="UserName" placeholder="Họ và tên*" required>
                        <label asp-for="UserName">Họ và tên*</label>
                    </div>

                    <div class="form-floating">
                        <input type="date" class="form-control" asp-for="Birthday" required>
                        <label asp-for="Birthday">Ngày sinh*</label>
                    </div>

                    <div>
                        <input type="radio" asp-for="Gender" value="Nam">
                        <label for="nam">Nam</label>

                        <input type="radio" asp-for="Gender" value="Nữ">
                        <label for="nu">Nữ</label>

                        <input type="radio" asp-for="Gender" value="Khác">
                        <label for="khac">Khác</label>
                    </div>

                    <div class="btn-container">
                        <button class="btn btn-confirm" type="submit" style="width: 100%;">Lưu thay đổi</button>
                        <button class="btn btn-cancel" type="reset" onclick="window.location.href='@Url.Action("Index", "Account")'" style="width: 100%;">
                            Hủy
                        </button>
                    </div>
                </div>
            </form>
        </div>    
     </div>  
</div>