@using DoAnFramework.Models.ViewModel;
@{
    ViewData["Title"] = "Quản lý tài khoản";
    Layout = "../Shared/_Layout.cshtml";

}

    <div class="section">
        @await Html.PartialAsync("../Shared/_AccountNavPartialView.cshtml")
        <div class="list-orders">
            <!--breadscrumb-->
            <ul class="breadcrumb-my-order">
                <li class="breadcrumb-current-page">Quản lý tài khoản</li> /
            </ul>

            <h2>Quản lý tài khoản</h2>
            
            <div class="account">
                <br>
                <ul>
                    <li class="sub-nav--item hover-underline">
                    <a asp-action="EditProfileUser" asp-controller="Account">CHỈNH SỬA THÔNG TIN</a>
                    </li>
                    <br>
                    <li class="sub-nav--item hover-underline">
                    <a asp-action="ChangePassword" asp-controller="Account">ĐỔI MẬT KHẨU</a>
                    </li>
                    <br>
                    <li class="sub-nav--item hover-underline">
                    <a asp-action="EditAddress" asp-controller="Account">ĐỊA CHỈ</a>
                    </li>
                    <br>
                    <li class="sub-nav--item hover-underline">
                    <a asp-action="Index" asp-controller="Home">ĐĂNG XUẤT</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


