<!-- start: search bar, button section -->
<div class="section_top-content">
    <div class="top-content left">
        <div class="admin-search-container">
            <div class="search-bar-box">
                <input type="text" id="search" placeholder="Tìm kiếm..." class="form-control ">
                <a href="#" class="btn-search"><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
        </div>

        <button class="btn-admin btn-filter">
            <i class="fa-solid fa-filter"></i>Bộ lọc
        </button>
    </div>

    <div class="top-content right">
        <button class="btn-admin btn-export">
            <i class="fa-solid fa-download"></i>Export
        </button>

        <button class="btn-admin btn-add" data-bs-toggle="modal" data-bs-target="#add-new">
            <i class="fa-solid fa-plus"></i>Thêm mới
        </button>
    </div>
</div>
<!-- end: search bar, button section -->
