:root {
    --border-box-info: 1px solid #cfc7c7;
    --icon-bgcolor: #4A69E2;
}
/*general main section*/
.admin-order-detail{
    flex-grow: 2;
    min-width: 400px;
    padding: 30px;
    background-color: var(--admin-bkground);
}

.customer-infomation,
.order-infomation {
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    margin: 10px auto;
    width: 100%;
    border: 1px solid var(--table-border);
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}

/*customer infomation*/
/***header*/
.order-status {
    background-color: #37cd70;
    color: #ffff;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
}


/* button print */
.btn-calendar.print{
    text-align: center;
    width: 40px;
    margin-left: 5px;
}

/* heading-button */
.top-content.right .dropdown{
    width: 78%;
}

.section_top_content{
    width: 90%;
}


/***3 boxes customer info*/
.info-customer {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 50px;
}

.box-info {
    position: relative;
    display: flex;
    border: var(--border-box-info);
    border-radius: 4px;
    width: 350px;
    flex-direction: row;
    margin-right: 24px;
    margin-top: 10px;
}

.icon-info{
    width: 50px;
    height: 50px;
    font-size: 24px;
    border-radius: 4px;
    padding: 15px;
    background-color: var(--icon-bgcolor);
    color: #fff;
    margin: 5px 15px 0 5px;
    display: flex !important;
    justify-content: center;
}

.info {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    margin: 5px;
}

.header-info {
    font-weight:bolder;
    font-size:120%;
}

/*order cost*/
.order-cost{
    min-width: 50px !important;
    margin-top: 20px;
    width: 300px;
    margin-left: 880px;
}
.order-cost td, tr{
    border: none;
    color: #000 !important;
}

.order-cost td.cost {
    text-align: right;
    font-weight: bolder;
}

.order-cost tr.total-cost {
    font-size: 22px;
    font-weight: bolder;
}

.total-cost td.total {
    color:#FF0000 !important;
}